@font-face {
	font-family: 'mona';
	src:
	  url('/fonts/mona_sans/mona_sans.woff2') format('woff2 supports variations'),
	  url('/fonts/mona_sans/mona_sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

/*	RUBIK  -  Variable Font (wght) */
@font-face {
	font-family: 'rubik';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/rubik/rubik.ttf') format('truetype');
}
@font-face {
	font-family: 'rubik_italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/rubik/rubik-italic.ttf') format('truetype');
}

/* RED HAT TEXT  -  Varitable Font (wght) */
@font-face {
	font-family: 'red_hat_text';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/red_hat_text/red_hat_text.ttf') format('truetype');
}
@font-face {
	font-family: 'red_hat_text-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/red_hat_text/red_hat_text-italic.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght) */
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}

/* INCONSOLATA  -  Variable Font (wght, wdth) */
@font-face {
	font-family: 'inconsolata';
	font-weight: 100 900;
	font-style: monospace;
	src: url('/fonts/inconsolata/inconsolata.ttf') format('truetype');
}

:root {
	--font-a: 'mona', sans-serif;
	--font-b: 'rubik', sans-serif;
	--font-c: 'dosis', sans-serif;
	--font-d: 'red_hat_text', sans-serif;
	--font-mono: 'inconsolata', monospace;

	--font-xxs: 0.75rem;
	--font-xs: 0.9rem;
	--font-sm: 1rem;
	--font: 1.1rem;
	--font-md: clamp(1rem, 5vw, 1.25rem);
	--font-lg: clamp(1.25rem, 5vw, 1.75rem);
	--font-xl: clamp(1.5rem, 6vw, 2.25rem);
	--font-xxl: clamp(1.75rem, 7vw, 3rem);
	--font-xxxl: clamp(3rem, 10vw, 5rem);
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
section {
	font-family: var(--font-a);
}

pre, code {
	font-family: var(--font-mono);
}
