.input-label {
	display: flex;
	gap: 0.25rem;

	width: 100%;
	margin: 0.5rem 0;

	color: var(--fg-c);

	font-family: var(--font);
	font-size: var(--font-xs);

	& input[type='range'] {
		margin-left: auto;

		width: 60%;
	}
}
