input[type='range'] {
	width: 100%;
	max-width: 80%;

	background: none;
	appearance: none;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 15px;

	border: 0.5px solid var(--bg-a);
	&:hover {
		border-color: var(--bg-d);
	}
	border-radius: 50px;
	background: var(--bg-b);

	cursor: pointer;

	transition: border-color 0.1s;
}
input[type='range']::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	margin-top: 1px;

	border: 1px solid var(--bg-a);
	border-radius: 20px;
	background: var(--fg-d);
	background-image: radial-gradient(ellipse at var(--progress) var(--progress), blue, red);

	cursor: pointer;
	transition: background 0.3s;
	appearance: none;
	appearance: none;
}
input[type='range']:focus::-webkit-slider-thumb {
	background: rgb(var(--brand-a));
}
