@import './theme.scss';
@import './utils.scss';
@import './elements.scss';
@import './inputs/index.scss';

:root {
	--warn: #ff8888;

	--radius-sm: 0.1875rem;
	--radius: 0.3125rem;
	--radius-md: 0.4375rem;
	--radius-lg: 0.625rem;

	--page-width: min(75rem, 100vw);

	--padding: 1.5rem;

	--shadow-sm: 0rem 0.0313rem 0.0469rem rgba(0, 0, 0, 0.02), 0rem 0.125rem 0.0938rem rgba(0, 0, 0, 0.02),
		0rem 0.1563rem 0.125rem rgba(0, 0, 0, 0.025), 0rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.05),
		0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.05), 0rem 0.4375rem 0.625rem rgba(0, 0, 0, 0.075);
	--shadow: 0rem 0.0469rem 0.0625rem rgba(0, 0, 0, 0.015), 0rem 0.1563rem 0.125rem rgba(0, 0, 0, 0.02),
		0rem 0.2813rem 0.1875rem rgba(0, 0, 0, 0.025), 0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.0325),
		0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.045), 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.05);
	--shadow-lg: 0rem 0.0781rem 0.0625rem rgba(0, 0, 0, 0.035), 0rem 0.1563rem 0.1563rem rgba(0, 0, 0, 0.04),
		0rem 0.2813rem 0.3125rem rgba(0, 0, 0, 0.045), 0rem 0.3125rem 0.5rem rgba(0, 0, 0, 0.05),
		0rem 0.625rem 0.9375rem rgba(0, 0, 0, 0.06), 0rem 1.25rem 1.875rem rgba(0, 0, 0, 0.07);
}

body {
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
	max-width: 100vw;
	margin: 0;
	
	transition: color 0.5s, background-color 0.1s;
	
	overflow-x: hidden;
}
