@import './card.scss';
@import './theme.scss';
@import './utils.scss';
@import './elements.scss';
@import './input/input.scss';

:root {
	--font-xxs: 0.75rem;
	--font-xs: 0.9rem;
	--font-sm: 1rem;
	--font: 1.1rem;
	--font-md: clamp(1rem, 5vw, 1.25rem);
	--font-lg: clamp(1.25rem, 5vw, 1.75rem);
	--font-xl: clamp(1.5rem, 6vw, 2.25rem);
	--font-xxl: clamp(1.75rem, 7vw, 3rem);

	--warn: #ff8888;

	--radius-sm: 3px;
	--radius: 5px;
	--radius-md: 7px;
	--radius-lg: 10px;

	--page-width: min(1200px, 100vw);

	--padding: 1.5rem;

	--shadow-sm: 0px 0.5px 0.75px rgba(0, 0, 0, 0.02), 0px 2px 1.5px rgba(0, 0, 0, 0.02),
		0px 2.5px 2px rgba(0, 0, 0, 0.025), 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 5px 5px rgba(0, 0, 0, 0.05),
		0px 7px 10px rgba(0, 0, 0, 0.075);
	--shadow: 0px 0.75px 1px rgba(0, 0, 0, 0.015), 0px 2.5px 2px rgba(0, 0, 0, 0.02), 0px 4.5px 3px rgba(0, 0, 0, 0.025),
		0px 5px 5px rgba(0, 0, 0, 0.0325), 0px 10px 10px rgba(0, 0, 0, 0.045), 0px 10px 20px rgba(0, 0, 0, 0.05);
	--shadow-lg: 0px 1.25px 1px rgba(0, 0, 0, 0.035), 0px 2.5px 2.5px rgba(0, 0, 0, 0.04),
		0px 4.5px 5px rgba(0, 0, 0, 0.045), 0px 5px 8px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.06),
		0px 20px 30px rgba(0, 0, 0, 0.07);
}

body {
	min-height: 100vh;
	margin: 0;

	// background-color: var(--bg-a);

	transition: color 0.5s, background-color 0.1s;
}

#frackit {
	display: flex;
	flex-direction: column;
}
