h1 {
	font-size: var(--font-xl);
}

h2 {
	font-size: var(--font-lg);
}

h1,
h2 {
	color: var(--fg-a);

	font-weight: 500;
	letter-spacing: 1.2px;
	word-spacing: 8px;
}

p,
li {
	color: var(--fg-a, --text-color);

	font-size: var(--font);
	line-height: 1.4;

	@media screen and (max-width: 560px) {
		word-wrap: break-word;
	}

	a {
		color: var(--fg-c);
	}
}

li {
	margin-left: 1rem;
}

a {
	color: var(--fg-a);

	text-decoration: underline;
	text-decoration-color: var(--bg-d);

	&:hover {
		text-decoration: underline;
		text-decoration-color: var(--theme-a);
	}
}

pre {
	padding: 0.5rem;
	outline: 1px solid var(--bg-a);
	font-family: var(--font-mono);
}

pre, :not(pre) > code {
	max-width: min(100%, 100vw);
	height: max-content;

	background: var(--bg-b);
	color: var(--fg-a);
	border-radius: 3px;
	box-shadow: var(--shadow-sm);

	font-size: 16px;

	overflow-x: auto;
}

code {
	padding: 0.15rem 0.5rem;
	font-family: var(--font-mono);
}

blockquote {
	position: relative;

	height: max-content;
	padding: 1rem 1rem 1rem 2rem;
	padding-left: 2rem;

	border-radius: var(--radius-lg);

	font-style: italic;
	outline: 1px solid var(--bg-a);
	background: var(--bg-b);
	box-shadow: var(--shadow-sm);

	&:before {
		content: '“';

		position: absolute;
		top: 0rem;
		left: 0.25rem;

		color: var(--fg-d);

		font-size: 4rem;
	}
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--padding);

	width: 100%;
	max-width: min(var(--page-width), 90vw);
	margin: 0 auto;
}

hr {
	width: 100%;
}
