:root {
	--theme-a: #57b1ff;
	--theme-b: #ffcc8b;
	--theme-c: #ff8ba9;

	--always-dark: #0b0e11;

	--fg-a: #0b0e11;
	--fg-b: #1c1e21;
	--fg-c: #1d252e;
	--fg-d: #3a3a44;

	--bg-a: #ffffff;
	--bg-b: #dfe1e9;
	--bg-c: #c3c4c7;
	--bg-d: #acacb4;

	&[theme='light'] {
		--fg-a: #0b0e11;
		--fg-b: #1c1e21;
		--fg-c: #1d252e;
		--fg-d: #3a3a44;

		--bg-a: #ffffff;
		--bg-b: #dfe1e9;
		--bg-c: #c3c4c7;
		--bg-d: #acacb4;
	}
}
