:root {
	--theme-a: #57b1ff;
	--theme-b: #ffcc8b;
	--theme-c: #ff8ba9;
	--always-dark: #0b0e11;
}

:root {
	--dark-a: #0b0b11;
	--dark-b: #15161d;
	--dark-c: #1f202d;
	--dark-d: #353746;
	--dark-e: #474a5b;
	--light-a: #ffffff;
	--light-b: #dfe1e9;
	--light-c: #babeca;
	--light-d: #777d8f;
	--light-e: #5f6377;

	--bg-a: light-dark(var(--light-a), var(--dark-a));
	--bg-b: light-dark(var(--light-b), var(--dark-b));
	--bg-c: light-dark(var(--light-c), var(--dark-c));
	--bg-d: light-dark(var(--light-d), var(--dark-d));
	--bg-e: light-dark(var(--light-e), var(--dark-e));
	--fg-a: light-dark(var(--dark-a), var(--light-a));
	--fg-b: light-dark(var(--dark-b), var(--light-b));
	--fg-c: light-dark(var(--dark-c), var(--light-c));
	--fg-d: light-dark(var(--dark-d), var(--light-d));
	--fg-e: light-dark(var(--dark-e), var(--light-e));
}

:root[data-mode='dark'] {
	color-scheme: dark;
}
:root[data-mode='light'] {
	color-scheme: light;
}

:root,
:root[data-theme='default'] {
	--theme-a: #57b1ff;
	--theme-b: #ffcc8b;
	--theme-c: #ff8ba9;
}

:root[data-theme='autumn'] {
	--theme-a: #ff9a3d;
	--theme-b: #ff5e5e;
	--theme-c: #9b51e0;
}

:root[data-theme='neon'] {
	--theme-a: #00ff95;
	--theme-b: #00e1ff;
	--theme-c: #ff007c;
}

:root[data-theme='mellow'] {
	--theme-a: #ff9a9e;
	--theme-b: #fad0c4;
	--theme-c: #f093fb;
}

:root[data-theme='cyberpunk'] {
	--theme-a: #00ff99;
	--theme-b: #00c9a7;
	--theme-c: #c964ff;
}
