.br-xs {
	height: 0.5rem;
}
.br-sm {
	height: 1rem;
}
.br-md {
	height: 4rem;
	@media screen and (max-width: 560px) {
		height: 3rem;
	}
}
.br-lg {
	height: 6.5rem;
	@media screen and (max-width: 560px) {
		height: 5rem;
	}
}
.br-xl {
	height: 10rem;
	@media screen and (max-width: 560px) {
		height: 6rem;
	}
}

.center {
	text-align: center;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
