@use './media' as *;

.br-xs {
	height: 0.5rem;
}
.br-sm {
	height: 1rem;
}
.br-md {
	height: 4rem;
	@include media('<phone') {
		height: 3rem;
	}
}
.br-lg {
	height: 6.5rem;
	@include media('<phone') {
		height: 5rem;
	}
}
.br-xl {
	height: 10rem;
	@include media('<phone') {
		height: 6rem;
	}
}

.center {
	text-align: center;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: min(100%, 100vw);
	padding: var(--padding);

	border-radius: var(--radius);
	box-shadow: var(--shadow-sm);
}
